Package: liboam1
Source: rocm-smi-lib
Version: 4.5.2-1~exp1
Architecture: all
Maintainer: ROCm Team <team+rocm-team@tracker.debian.org>
Installed-Size: 10055
Section: libs
Priority: optional
Homepage: https://github.com/RadeonOpenCompute/rocm_smi_lib
Description: TODO
